<!DOCTYPE html>{% load staticfiles gravatar %}
<html ng-app="seva">
<head>
  <meta charset=utf-8 />
  <title>DS Skills</title>
  <!--[if lt IE9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="{% static "tmp/css/reset5.css"  %}" type="text/css" media="screen" charset="utf-8"/>
  <link rel="stylesheet" href="{% static "tmp/css/skills.css" %}" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>
  <header>
  <h1>DS Skills</h1>
  <nav>
  <a href="/">★</a>
  {% for user in users %}
  <a href="#/user/{{ user.username }}">
	  <img
    {% if user.profile.dont_track_in_avg %}
    style="-webkit-filter: blur(2px);"
    {% endif %}
    src="{% gravatar_for_user user 40 %}" />
  </a>
  {% endfor %}
  </nav>
  </header>

  <section ng-view></section>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="{% static "vendor/jquery.min.js" %}"></script>
  <script src="{% static "vendor/md5.js" %}"></script>
  <script src="{% static "vendor/angular-gravatar.js" %}"></script>

  <script src="{% static "tmp/js/app.js" %}"></script>
  <script src="{% static "tmp/js/controllers.js" %}"></script>
  <script src="{% static "tmp/js/directives.js" %}"></script>
  <script src="{% static "tmp/js/services.js" %}"></script>

</body>
</html>
